<!-- <nav id="navbar" class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
    <span class="navbar-brand mb-0 h1" style="color: #e9ecef; font-size: x-large">
        <span style="font-size: xxx-large;">
            <i class="fas fa-virus" style="color: dodgerblue;"></i>
        </span>
        <span id="title"> Covid-19 </span>
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
            Stay Safe</a>
    </span>
</nav> -->

<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
    <span class="navbar-brand mb-0 h1" style="color: #e9ecef; font-size: large">
        <span style="font-size: x-large;">
            <a href=""><i class="fas fa-virus" style="color: #0062ccfa;"></i></a>
        </span>
        <a href="" style="color: #0c0c0e"><span style="color: #adb5bd" id="title"> <span style="color: #e9ecef">
                    Covid</span> Tracker
            </span></a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg">
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">
                <i class="fas fa-shield-virus" style="font-size: xxx-large; color: dodgerblue;"></i></a>
        </form> -->
    </div>
</nav>