<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- <app-country (eventClicked)="childEventClicked($event)"></app-country> -->
            <app-country></app-country>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <app-info [event]="clickedEvent"></app-info>
        </div> -->
    <!-- <div class="col-sm-6">
            <app-timeline [event]="clickedEvent"></app-timeline>
        </div> -->
    <!-- </div> -->
</div>